* {
    text-align: center;
}





.hidden-image {
    /* visibility: hidden; */
    height: 10vh;
    width: 10vw;
}

.hidden-image-wrapper {
    width: 75vw;
    height: 25vh;
}

#copy {
    width: 40vw;
    position: relative;
    left: 40vw;
    background-color: darkblue;
}



div {
    background-color: black;
    color: white
}

div#logo-wrapper {
    width: 10vw;
    height: 20vh;
    position: relative;
    
}

img#pyramid-logo {


    height: 100%;
    width: 100%;
    object-fit: contain;
    width: 10vw;
    height: 20vh;
    display: center;
}

html {
    /* background-image: url('image-files/taco-bell-party.jpeg');
     */
    /* background-size: cover; */
    background-color: black;
}



#call-to-action {
    border-color: black;
    border-style: solid;
    position: relative;
    left: 25vw;
    width: 60vw;

}

#social-box {
    border-style: solid;
    border-color: black;
}

