
@font-face {
font-family: 'tacobell-font';
src: url('taco-bell-font.ttf')
}


* {
    font-family: 'tacobell-font';
    text-align: center;
}


#live-mas-right {
    background-image: url('image-files/live-mas.png');
    position: absolute;
    background-size: contain;
    right: 5vw;
    z-index:0;
    height: 80vh;
    width: 10vw;
}

#live-mas-left {
    background-image: url('image-files/live-mas.png');
    position: absolute;
    background-size: contain;
    left: 5vw;
    z-index:-1;
    height: 80vh;
    width: 10vw;
}



#taco-image{
    position:absolute;
    bottom: 35vh;
    right: 45vw;
}

#nachos-image {
    position:absolute;
    bottom: 58vh;
    right: 60vw;
}

#burrito-image {
    position:absolute;
    right: 20vw;
    bottom: 30vw;

}

#stacker-image {
    position:absolute;
    left: 6vw;
    top: 11vh;
}

.hidden-image {
    visibility: hidden;
    height: 10vh;
    width: 10vw;
}

.hidden-image-wrapper {
    width: 10vw;
    height: 10vh;
}

#copy {
    padding: 3vh;
    display:flex;
    align-items: center;
    width: 60vw;
    height: 50vh;
    position: relative;
    left: 20vw;
    background-color: darkblue;
    color: rgb(216, 216, 9);
    font-size: 2vmax;
    margin-bottom: 5vh;
    border-radius: 10%;
}



div {
    background-color: black;
    color: white
}

div#logo-wrapper {
    width: 10vw;
    height: 10vh;
    position: relative;
    margin: 0px;
    
}

img#pyramid-logo {

    height: 100%;
    width: 25%;
    object-fit: contain;
    width: 20vw;
    height: 30vh;
    display: center;
}

html {
    /* background-image: url('image-files/taco-bell-party.jpeg');
     */
    /* background-size: cover; */
    background-color: black;
}



#call-to-action {  
    color: purple;
    position: relative;
    left: 25vw;
    width: 50vw;

}

#social-box {
    border-style: solid;
    border-color: black;
}

.social-logo {
    height: 12vh;
    width: 12vw;
}

